<div id="<%= dom_id location %>">
  <p>
    <strong>Address line one:</strong>
    <%= location.address_line_one %>
  </p>

  <p>
    <strong>Address line two:</strong>
    <%= location.address_line_two %>
  </p>

  <p>
    <strong>City:</strong>
    <%= location.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= location.state %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= location.zip %>
  </p>

  <p>
    <strong>Client title:</strong>
    <%= location.client_title %>
  </p>

  <p>
    <strong>Cleaner title:</strong>
    <%= location.cleaner_title %>
  </p>

  <p>
    <strong>Details:</strong>
    <%= location.details %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= location.client_id %>
  </p>

</div>
